.bottom {
    background-color: #6278F7;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.bottom ul {
    padding-left: 5%;
}

.bottom li{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

.bottom li img {
    width: 20px;
}

.logo{
    padding: 5px 0px 5px 33%;
    width: 100px;
}